@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
:root:root {
  --adm-color-primary: #e90;
  .adm-form {
    --border-top: unset;
  }
  .adm-list-item {
    padding-left: 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100%;
  width: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  height: 100%;
}
svg {
  display: inline-block;
}

/* Force CapsuleTabs content to take full height for scrolling implementation */
.adm-capsule-tabs {
  height: 100%;
  display: flex !important;
  flex-direction: column;
}

.adm-capsule-tabs-content {
  flex: 1;
  overflow: hidden;
  height: 100%;
}

.adm-capsule-tabs-pane-wrap {
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
